<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="nigerian, norwich, greenwich, graduate, london, web developer, javascript, developer, drupal, front-end, frontend">
  <meta name="author" content="Chiemezie Ichongiri, Chie, Ichongiri, chiich">

  <title><%= title %></title>


  <!-- Bootstrap Core CSS -->
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">


  <!-- Custom CSS -->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en" />


  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>
<body>
<div class="site-wrapper">

  <div class="site-wrapper-inner">
    <div class="cover-container">
      <!--<div class="masthead clearfix">-->
        <!--<div class="inner">-->
          <!--<h3 class="masthead-brand"><a href="/"><%= author %></a></h3>-->
          <!--&lt;!&ndash;<nav>&ndash;&gt;-->
            <!--&lt;!&ndash;<ul class="nav masthead-nav">&ndash;&gt;-->
              <!--&lt;!&ndash;<li class="active"><a href="/">Home</a></li>&ndash;&gt;-->
              <!--&lt;!&ndash;&lt;!&ndash;<li><a href=<%= cv_link %>>Resum&#xe9;</a></li>&ndash;&gt;&ndash;&gt;-->
              <!--&lt;!&ndash;&lt;!&ndash;<li><a href="#">Projects</a></li>&ndash;&gt;&ndash;&gt;-->
              <!--&lt;!&ndash;&lt;!&ndash;<li><a href="#">Blog</a></li>&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;</ul>&ndash;&gt;-->
          <!--&lt;!&ndash;</nav>&ndash;&gt;-->
        <!--</div>-->
      <!--</div>-->
      <div class="inner cover">
        <h1 class="cover-heading">
          <%= personal_statement %> <br>
          <small><%= sub_personal_statement %></small>
        </h1>
        <br><br>
        <p class="lead">
          This site is currently being updated - design-wise - and its architecture is being moved to <a href="<%= jekyll_link%>">Jekyll</a>.
        </p>
        <br><br><br><br>
        <p class="lead">
          <a href=<%= cv_link %> class="btn btn-lg btn-default"><%= cv %>&#xe9;</a>
        </p>
        <br><br><br><br>
      </div>
      <div class="mastfoot">
        <div class="inner">
          <p>Inspired by a template designed by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            <br>
            <p><%= footer %></p>
        </div>
      </div>

    </div>

  </div>

</div>
<!-- jQuery Version 1.11.1 -->
<script src="/bootstrap/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>


