<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="nigerian, student, CompSci, greenwich, graduate, london, javascript developer, personal website, august, junior developer, junior web developer, university graduate, junior software developer, front-end web developer">
  <meta name="author" content="Chiemezie Ichongiri, Chie, Ichongiri, chiich">

  <title><%= title %></title>


  <!-- Bootstrap Core CSS -->
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">


  <!-- Custom CSS -->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en" />


  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>
<body>

<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand"><%= author %></h3>
          <nav>
            <ul class="nav masthead-nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href=<%= cv_link %>>Resum&#xe9;</a></li>
              <!--<li><a href="#">Projects</a></li>-->
              <!--<li><a href="#">Blog</a></li>-->
            </ul>
          </nav>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading"><%= personal_statement %></h1>
        <p class="lead">
            Just graduated from my BSc degree in Computer Science with a 1st. I now want to explore Web Development as a potential* career path.
            <br/><br/>
            Currently enjoying tinkering with NodeJS and the full <a href=<%= mean_link %>>MEAN stack</a>; as well as <a href=<%= react_link %>>ReactJS</a>.
            <br/><br/>
            *I am open-minded, if it's dev-related.... &#128151;
        </p>
        <p class="lead">
          <a href=<%= cv_link %> class="btn btn-lg btn-default"><%= cv %>&#xe9;</a>
        </p>
      </div>
        <br><br>
      <div class="mastfoot">
        <div class="inner">
          <p>Inspired by a template designed by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            <br>
            <p><%= footer %></p>
        </div>
      </div>

    </div>

  </div>

</div>
<!-- jQuery Version 1.11.1 -->
<script src="/bootstrap/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>


